@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype')
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('backgroundimage/background.png');
    background-position: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    margin: 0;
}

.el-pollo-loco h1 {
    font-size: 50px;
    margin: 10px;
    position: absolute;
    top: -12%
}

.el-pollo-loco {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}

canvas {
    background-color: black;
}

.start {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start img {
    width: 720px;
    height: 480px;
}

.start button {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
    width: 120px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(153, 68, 9);
    color: #FFD111;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.d-none {
    display: none;
}

.bullet {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    top: 26px;
    left: 65px;
}

.bullet img {
    width: 20px;
    height: 20px;
}

.soundmute {
    position: absolute;
    display: flex;
    width: 200px;
    justify-content: flex-end;
    z-index: 1;
    top: 10px;
    right: 0;
}

.soundmute img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.endscreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endscreen button {
    position: absolute;
    z-index: 8;
    border: 3px solid rgb(255, 216, 8);
    font-size: 30px;
    margin-bottom: 200px;
    background-color: rgba(82, 137, 155, 0.1);
    color: rgb(255, 216, 8);
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.endscreenImage1 img {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.endscreenImage2 img {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.description {
    position: absolute;
    width: 720px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: -48%;
}

.description h2 {
    font-size: 30px;
    margin: 0;
}

.left {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.left h3 {
    font-size: 25px;
    margin: 0;
}

.left h4 {
    font-size: 30px;
    margin: 0;
}

.left img {
    width: 40px;
}

.right {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.right h3 {
    font-size: 25px;
    margin: 0;
}

.right h4 {
    font-size: 30px;
    margin: 0;
}

.right img {
    width: 40px;
}

.up {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.up h3 {
    font-size: 25px;
    margin: 0;
}

.up h4 {
    font-size: 30px;
    margin: 0;
}

.up img {
    width: 40px;
}

.throwBottle {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.throwBottle h3 {
    font-size: 25px;
    margin: 0;
    width: 50px;
}

.throwBottle h4 {
    font-size: 30px;
    margin: 0;
}

.throwBottle img {
    width: 40px;
}

.fullscreenicons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.fullscreenicons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}